{% extends "padre.html" %}

{% load static %}

{% block mensaje_dinamico %}
<h2>Resultado de Busqueda</h2>


{% if curso %}
<ul>
    {% for tipo in tipos %}
    <li>{{bodys.marca}}</li>
    <li>{{bodys.modelo}}</li>
    <li>{{bodys.color}}</li>
    <li>{{bodys.talle}}</li>
    <br>
    <li>{{pantalones.marca}}</li>
    <li>{{pantalones.modelo}}</li>
    <li>{{pantalones.color}}</li>
    <li>{{pantalones.talle}}</li>
    <br>
    <li>{{remeras.marca}}</li>
    <li>{{remeras.modelo}}</li>
    <li>{{remeras.color}}</li>
    <li>{{remeras.talle}}</li>
    {{% endfor %}}
</ul>

{% else %}
<p>NO hay Productos que mostrar</p>
{% endblock %}



{% block mensaje_final %}
<p style="color: black"> </p>
{% endblock %}
